<div class='container'>
<h2>Quiz list</h2>
<table class='table'>
  <tr>
    <th>id</th>
    <th>Number of questions</th>
    <th>Average difficulty</th>
  </tr>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.id %></td>  
      <td><%= quiz.num_questions %></td>  
      <td><%= quiz.average_difficulty %></td>  
    </tr>
  <% end %>
</table>

<%= link_to "Create a new Quiz", new_admin_quiz_url %>
</div>
